<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://moraschi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>moraschi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>moraschi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$moraschi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AdventureworksAzureConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=lahman.cis9zkc7rfcj.us-east-1.rds.amazonaws.com;Initial Catalog=Lahman;Persist Security Info=True;User ID=davidem;Password=Lepanto1571" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:m8ft5fsown.database.windows.net,1433;Initial Catalog=Adventureworks;Integrated Security=False;User ID=davidem@m8ft5fsown;Password=Lepanto1571;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AdventureworksAzureConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=tcp:m8ft5fsown.database.windows.net,1433;database=Adventureworks;user id=davidem@m8ft5fsown;password=Lepanto1571;trusted_connection=False;encrypt=True;connection timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LahmanAzureConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=lahman.cis9zkc7rfcj.us-east-1.rds.amazonaws.com;Initial Catalog=Lahman;Persist Security Info=True;User ID=davidem;Password=Lepanto1571" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:m8ft5fsown.database.windows.net,1433;Initial Catalog=Lahman;Integrated Security=False;User ID=davidem@m8ft5fsown;Password=Lepanto1571;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LahmanAzureConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=tcp:m8ft5fsown.database.windows.net,1433;database=Lahman;user id=davidem@m8ft5fsown;password=Lepanto1571;trusted_connection=False;encrypt=True;connection timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LahmanConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=lahman.cis9zkc7rfcj.us-east-1.rds.amazonaws.com;Initial Catalog=Lahman;Persist Security Info=True;User ID=davidem;Password=Lepanto1571" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:qi0ryl06ww.database.windows.net,1433;Initial Catalog=Lahman;Integrated Security=False;User ID=davidem@qi0ryl06ww;Password=Lepanto1571;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LahmanConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=tcp:qi0ryl06ww.database.windows.net,1433;database=Lahman;user id=davidem@qi0ryl06ww;password=Lepanto1571;trusted_connection=False;encrypt=True;connection timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdventureworksAzureConnection-Web.config Connection String">
      <ParameterValue>Data Source=lahman.cis9zkc7rfcj.us-east-1.rds.amazonaws.com;Initial Catalog=Lahman;Persist Security Info=True;User ID=davidem;Password=Lepanto1571</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LahmanAzureConnection-Web.config Connection String">
      <ParameterValue>Data Source=lahman.cis9zkc7rfcj.us-east-1.rds.amazonaws.com;Initial Catalog=Lahman;Persist Security Info=True;User ID=davidem;Password=Lepanto1571</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LahmanConnection-Web.config Connection String">
      <ParameterValue>Data Source=lahman.cis9zkc7rfcj.us-east-1.rds.amazonaws.com;Initial Catalog=Lahman;Persist Security Info=True;User ID=davidem;Password=Lepanto1571</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>